block variables
<!DOCTYPE html>
html(lang="zxx")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Forateco Pages || #{pageName} Page
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Russo+One&amp;subset=cyrillic,latin-ext")
    link(rel="stylesheet", href="css/styles.min.css")
  body
    .navbar: .container: .navbar--wraper
      .navbar__brand: a(href=""): img(src="img/brand.png", alt="Forateco")
      .navbar__separator
      .navbar__nav: ul.mainmenu
        li.mainmenu__item(class=pageName === 'Main' ? 'current' : ''): a(href="001_main.html") Главная
        li.mainmenu__item(class=pageName === 'About' ? 'current' : ''): a(href="") О компании
        li.mainmenu__item(class=pageName === 'Services' ? 'current' : ''): a(href="002_services.html") Услуги
        li.mainmenu__item(class=pageName === 'Contacts' ? 'current' : ''): a(href="") Контакты
      .navbar__lang: a(href="", title="In Romana") Ro
    block content
    script(src="js/jquery.min.js")
    script(src="js/main.min.js")
    script(src="js/app.min.js")
    